@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
  --mainColor :#ff8f4e;
  --secondColor :#604eff;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: "Changa", sans-serif;
  direction: rtl;
}

.bg-cover-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home{
  background-image: url('/src/assets/image 23.png');
  height: 90dvh !important;
  @apply bg-cover-center;

}
@media (max-width: 639px) {
  .home {
    height: 40dvh !important;  
  }
}

@media (min-width: 640px) {
  .home {
    height: 90dvh !important;  
  }
}
.info{
  background-image: url('/src/assets/Union.png');
  @apply bg-cover-center;

}
.choose{
  background-image: url('/src/assets/17014 1.png');
  background-color:var(--mainColor) ;
  @apply bg-cover-center;
}
.spesial{
  background-image: url('/src/assets//STUDIO SM 2190-04 1.png');
  background-color:var(--secondColor) ;
  @apply bg-cover-center;
}
.help{
  background-image: url('/src/assets/14988 1.png');
  background-color:#0454F2 ;
  @apply bg-cover-center;
}


/* Wrapper around all dots */
.slick-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}

/* Default dot styling */
.slick-dots li button::before {
  font-size: 20px !important;
  color: #ccc !important;
  opacity: 1 !important;
}

/* Active dot styling */
.slick-dots li.slick-active button::before {
  color: var(--mainColor) !important; 
  font-size: 25px !important;
  width: 8px !important;
}
